{{#partial "title"}}
    "2018 John Zerzan Hack-A-Thon: Teams"
{{/partial}}
{{#partial "content"}}
    {{#if teams}}
        {{#each teams}}
            <h5>{{name}}:</h5>
            <p>{{description}}</p>
            <a href="/teams/{{teamId}}/display">Display team details</a><br>
            <a href="/teams/{{teamId}}/edit">Edit team details</a><hr>
        {{/each}}
    {{else}}
    <p>No teams available</p>
    {{/if}}
    <a href="/">Go back</a>
{{/partial}}

{{> layout.hbs}}